{
  "extends": [
    "@moresec/moresec/react",
    "@moresec/moresec/typescript",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "new-cap": [
      2,
      {
        "capIsNew": false
      }
    ]
  },
  "parserOptions": {
    "project": ["./tsconfig.json"]
  }
}
