.main_container_wrapper {
  margin-top: 56px;
  min-height: calc(100vh - 56px);
}

.main_container {
  margin: 0;
}

.horizontal_layout {
  background: #f2f2f2;
  min-height: 100vh;
  :global {
    .ant-breadcrumb {
      padding: 0;
    }
    .ant-menu-item {
      min-width: 88px;
      text-align: center;
    }
  }
  .horizontal_content {
    padding: 0 20px;
    margin-top: 72px;
    .horizontal_main {
      // padding: 20px;
      // background-color: #fff;
      // min-height: 500px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .errorTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
