.breadcrumbsWrapper {
  display: flex;
  align-items: center;
}

.breadcrumbs {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  span {
    color: rgba(0, 0, 0, 0.45);
  }
  :global {
    .ant-breadcrumb-separator {
      margin: 0 4px;
    }
  }
}
